.chess-header {
  text-align: center;
  background-color: #3D3D3D;
  color: white;
}

.chess-header.small {
  height: 60px;
  padding: 5px;
  background-color: #3D3D3D;
}

.chess-header.large {
  height: 150px;
  padding: 20px;
}

.chess-intro {
  font-size: large;
}
