.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-logo.loading {
  animation: App-logo-spin infinite 10s linear;
}

.App-logo.loaded {
  animation: App-logo-pulse 0.5s;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-pulse {
  0% { transform: scale(1, 1) rotate(0deg); }
  50% { transform: scale(1.2, 1.2) rotate(45deg); }
  100% { transform: scale(1, 1) rotate(0deg); }
}